@import '~@fortawesome/fontawesome-free/css/all.css';

.website-image{
    max-width: 100px;
    max-height: 100px;
    margin: 1rem;
}

.list-group-item{
    padding: 0.1rem 1rem !important;
    
}

.list-group{
    margin-top: -1px;
}

#searchInput {
    border-radius: 2rem; 
    font-weight: bold;
    margin-top: 6rem;
    color: var(--success);    
}


/* enable absolute positioning */
.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .fas {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .fas  { left:  0px;}
.right-addon .fas { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
  }