<div class="container">
    <form class="mt-2">
        <h3>Search Options</h3>
        <div class="form-row align-items-center">
            <div class="col col-sm-3">
                <div class="form-group">
                    <div class="custom-control custom-checkbox">
                        <input class="custom-control-input" name="selectSiteCheckbox" type="checkbox" id="gridCheck"
                            [(ngModel)]="siteOption" (click)="enableOnlySiteOption()">
                        <label class="custom-control-label" for="gridCheck">
                            Specific website
                        </label>
                    </div>
                </div>
            </div>

            <div class="col col-sm-3">

                <div class="">
                    <div class="custom-control custom-checkbox">
                        <input class="custom-control-input" name="selectImageCheckbox" type="checkbox"
                            id="imageOptionCheckbox" [(ngModel)]="imageOption" (click)="enableOnlyImageOption()">
                        <label class="custom-control-label" for="imageOptionCheckbox">
                            Images
                        </label>
                    </div>
                </div>
            </div>

            <div class="col col-sm-3">

                <div class="">
                    <div class="custom-control custom-checkbox">
                        <input class="custom-control-input" name="selectNewsCheckbox" type="checkbox"
                            id="selectNewsCheckbox" [(ngModel)]="newsOption" (click)="enableOnlyNewsOption()">
                        <label class="custom-control-label" for="selectNewsCheckbox">
                            News
                        </label>
                    </div>
                </div>
            </div>

            <div class="col col-sm-3">

                <div class="">
                    <div class="custom-control custom-checkbox">
                        <input class="custom-control-input" name="selectFilesCheckbox" type="checkbox"
                            id="selectFilesCheckbox" [(ngModel)]="filesOption" (click)="enableOnlyFilesOption()">
                        <label class="custom-control-label" for="selectFilesCheckbox">
                            Files
                        </label>
                    </div>
                </div>
            </div>




        </div>

        <div *ngIf="imageOption">

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon2">Image type</span>
                </div>
                <select class="form-control" (change)="onSelect($event)" id="imageTypeDropdown">
                    <option selected disabled value="">Image Type</option>
                    <option value="" >Any</option>
                    <option *ngFor="let imgType of availableImageTypes">

                        {{imgType.type}}

                    </option>

                </select>

            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon3">Image size</span>
                </div>
                <select class="form-control" name="imageSizeDropdown" [(ngModel)]="selectedImageSize" id="imageTypeDropdown">
                    <option selected disabled value="">Image size</option>
                    <option value="" >Any</option>
                    <option value="l" >Large</option>
                    <option value="m" >Medium</option>
                    <option value="i" >Icon</option>

                </select>
                

            </div>
            


        </div>

        <div *ngIf="filesOption">

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon2">File type</span>
                </div>
                <select class="form-control" name="fileTypeDropdown" [(ngModel)]="selectedFiletype" id="fileTypeDropdown">
                    <option selected disabled value="">File Type</option>
                    <option value="" >Any</option>
                    <option value="pdf">PDF</option>
                    <option value="pptx">PPTX</option>

                </select>

            </div>

        </div>

        <div *ngIf="siteOption">
            <div class="row">
                <div class="form-group col col-sm-3">
                    <select class="form-control" (change)="onSelect($event)">
                        <option selected disabled value="">Select site</option>
                        <option *ngFor="let website of availableWebsites">

                            <img class="rounded mx-auto d-block" src="{{website.image}}" alt="{{website.name}}">
                            {{website.name}}

                        </option>

                    </select>

                </div>
                <div class="col col-sm-9">
                    <input type="text" class="form-control" [(ngModel)]="selectedWebsite.url" [disabled]="isDisabled"
                        id="inlineFormInputGroup" name="inlineFormInputGroup" placeholder="Enter website here">
                </div>
            </div>
        </div>


        <div class="input-group mb-3">

            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon2">Time</span>
            </div>
            <select aria-describedby="selectTimeDescription" class="form-control" name="imageTimeDropdown" [(ngModel)]="selectedTimeDuration" id="imageTimeDropdown">
                <option selected disabled value="">Updated within</option>
                <option value="" >Any</option>
                <option value="h" >Past hour</option>
                <option value="d" >Past 24 hours</option>
                <option value="w" >Past week</option>
                <option value="m" >Past month</option>
                <option value="y" >Past year</option>
                
            </select>
        </div>


        <div class="form-group">
            <label for="searchInput">What do you want to search?</label>
            <input type="text" [(ngModel)]="searchQuery" class="form-control" id="searchInput"
                aria-describedby="searchInput" name="searchInput"
                placeholder="Enter the text that you want to search on google." required>
            <div class="custom-control custom-checkbox">
                <input class="custom-control-input" name="matchFullCheckbox" type="checkbox" id="matchFullCheckbox"
                    [(ngModel)]="matchFullPhrase">
                <label class="custom-control-label" for="matchFullCheckbox">
                    Match full phrase
                </label>
            </div>
        </div>

        <button type="submit" (click)="executeSearchQuery()" class="btn btn-sm btn-primary">Submit</button>
        <hr>
    </form>

</div>